---
- name: Create monitoring namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: monitoring

- name: Add Prometheus Helm repo
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

- name: Deploy kube-prometheus-stack
  kubernetes.core.helm:
    name: prometheus
    chart_ref: prometheus-community/kube-prometheus-stack
    release_namespace: monitoring
    values:
      grafana:
        adminPassword: "{{ vault_grafana_admin_password }}"
        ingress:
          enabled: true
          hosts:
            - "grafana.{{ domain_base }}"
      prometheus:
        prometheusSpec:
          additionalScrapeConfigs:
            - job_name: 'apache'
              static_configs:
                - targets: ['apache-php.lamp:9117']
            - job_name: 'phpfpm'
              static_configs:
                - targets: ['apache-php.lamp:9253']
            - job_name: 'postgresql'
              static_configs:
                - targets: ['postgresql.lamp:9187']
        ingress:
          enabled: true
          hosts:
            - "prometheus.{{ domain_base }}"
      alertmanager:
        ingress:
          enabled: true
          hosts:
            - "alertmanager.{{ domain_base }}"
