apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-config
  namespace: monitoring
data:
  vector.yaml: |
    sources:
      kubernetes_logs:
        type: kubernetes_logs
    transforms:
      process_logs:
        type: remap
        inputs: ["kubernetes_logs"]
        source: '''
          . = parse_json(.message) ?? .
          .environment = "production"
        '''
    sinks:
      elastic_kibana:
        type: elasticsearch
        inputs: ["process_logs"]
        endpoints: ["http://elasticsearch-master:9200"]
        index: "vector-manual-%Y-%m-%d"
