apiVersion: v1
kind: Namespace
metadata:
  name: storage
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: etcd
  namespace: storage
spec:
  serviceName: "etcd"
  replicas: 1
  selector:
    matchLabels:
      app: etcd
  template:
    metadata:
      labels:
        app: etcd
    spec:
      containers:
      - name: etcd
        image: quay.io/coreos/etcd:v3.5.0
        command: ["/usr/local/bin/etcd"]
        args: ["--data-dir=/var/lib/etcd", "--advertise-client-urls=http://etcd:2379", "--listen-client-urls=http://:2379"]
