---
- name: Skontroluj, ci je Helm nainstalovany
  command: helm version
  register: helm_check
  ignore_errors: yes
  changed_when: false

- name: Nainstaluj Helm, ak chyba
  shell: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  when: helm_check.rc != 0

- name: Add Traefik Helm repo
  kubernetes.core.helm_repository:
    name: traefik
    repo_url: https://helm.traefik.io/traefik

- name: Deploy Traefik
  kubernetes.core.helm:
    name: traefik
    chart_ref: traefik/traefik
    release_namespace: kube-system
    values:
      service:
        type: LoadBalancer
      ports:
        web:
          port: 80
        websecure:
          port: 443
