apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      argocd.argoproj.io/tracking-id: lamp-stack:apps/Deployment:lamp/apache-php
      deployment.kubernetes.io/revision: "1"
      kubectl.kubernetes.io/last-applied-configuration: |
    generation: 1
    name: apache-php
    namespace: lamp
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: apache-php
    strategy:
      type: Recreate
    template:
      metadata:
        labels:
          app: apache-php
      spec:
        containers:
        - image: httpd:alpine
          imagePullPolicy: IfNotPresent
          name: apache
          ports:
          - containerPort: 80
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        - args:
          - |
            php-fpm
          command:
          - /bin/sh
          - -c
          image: php:fpm-alpine
          imagePullPolicy: IfNotPresent
          name: phpfpm
          ports:
          - containerPort: 9000
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        - args:
          - --scrape_uri
          image: bitnami/apache-exporter:latest
          imagePullPolicy: Always
          name: apache-exporter
          ports:
          - containerPort: 9117
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        - env:
          - name: PHP_FPM_SCRAPE_URI
          image: hipages/php-fpm_exporter:2
          imagePullPolicy: IfNotPresent
          name: phpfpm-exporter
          ports:
          - containerPort: 9253
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2026-02-26T16:06:10Z"
      lastUpdateTime: "2026-02-26T16:06:10Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      type: Available
    - lastTransitionTime: "2026-02-26T16:06:06Z"
      lastUpdateTime: "2026-02-26T16:06:10Z"
      message: ReplicaSet "apache-php-66789c549b" has successfully progressed.
      reason: NewReplicaSetAvailable
      type: Progressing
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
