apiVersion: v1
items:
- apiVersion: v1
  data:
    ca.crt: |
      -----BEGIN CERTIFICATE-----
      MIIBdzCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy
      dmVyLWNhQDE3NzIwMjYxMDUwHhcNMjYwMjI1MTMyODI1WhcNMzYwMjIzMTMyODI1
      WjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE3NzIwMjYxMDUwWTATBgcqhkjO
      PQIBBggqhkjOPQMBBwNCAAQmMwFxPzFfutsOk73AwmN9a7oWm0jyevkVBqVHQ5gV
      0e952oBQveMPbtJ82s5JB2isVYM7DRXLiHcKGLn0Vh0ao0IwQDAOBgNVHQ8BAf8E
      BAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUG3RhGTthqrEFSGLhlb18
      ciRUIPgwCgYIKoZIzj0EAwIDSAAwRQIhAIPJHd8LCfa00hpdZVhTdu4KOT+NbjXF
      nmI0hgUSqoxAAiB1Sw5XKkkCOKOxAaqtCRVlO7jzhidAmtJkCY6auLYHVg==
      -----END CERTIFICATE-----
  kind: ConfigMap
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","data":{"ca.crt":"-----BEGIN CERTIFICATE-----\nMIIBdzCCAR2gAwIBAgIBADAKBggqhkjOPQQDAjAjMSEwHwYDVQQDDBhrM3Mtc2Vy\ndmVyLWNhQDE3NzIwMjYxMDUwHhcNMjYwMjI1MTMyODI1WhcNMzYwMjIzMTMyODI1\nWjAjMSEwHwYDVQQDDBhrM3Mtc2VydmVyLWNhQDE3NzIwMjYxMDUwWTATBgcqhkjO\nPQIBBggqhkjOPQMBBwNCAAQmMwFxPzFfutsOk73AwmN9a7oWm0jyevkVBqVHQ5gV\n0e952oBQveMPbtJ82s5JB2isVYM7DRXLiHcKGLn0Vh0ao0IwQDAOBgNVHQ8BAf8E\nBAMCAqQwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUG3RhGTthqrEFSGLhlb18\nciRUIPgwCgYIKoZIzj0EAwIDSAAwRQIhAIPJHd8LCfa00hpdZVhTdu4KOT+NbjXF\nnmI0hgUSqoxAAiB1Sw5XKkkCOKOxAaqtCRVlO7jzhidAmtJkCY6auLYHVg==\n-----END CERTIFICATE-----\n"},"kind":"ConfigMap","metadata":{"annotations":{"kubernetes.io/description":"Contains a CA bundle that can be used to verify the kube-apiserver when using internal endpoints such as the internal service IP or kubernetes.default.svc. No other usage is guaranteed across distributions of Kubernetes clusters."},"name":"kube-root-ca.crt","namespace":"logging"}}
      kubernetes.io/description: Contains a CA bundle that can be used to verify the
        kube-apiserver when using internal endpoints such as the internal service
        IP or kubernetes.default.svc. No other usage is guaranteed across distributions
        of Kubernetes clusters.
    name: kube-root-ca.crt
    namespace: logging
- apiVersion: v1
  data:
    vector.yaml: |
      sources:
        all_logs:
          type: kubernetes_logs
          node_annotation_fields: {}
      transforms:
        simple_remap:
          type: remap
          inputs: ["all_logs"]
          source: |
            .pod_name = .kubernetes.pod_name
            .namespace = .kubernetes.pod_namespace
      sinks:
        es_out:
          type: elasticsearch
          inputs: ["simple_remap"]
          endpoints: ["http://elasticsearch:9200"]
          mode: "data_stream"
          data_stream:
            type: "logs"
            dataset: "lamp"
            namespace: "default"
  kind: ConfigMap
  metadata:
    annotations:
      argocd.argoproj.io/tracking-id: logging-stack:/ConfigMap:logging/vector-config
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"v1","data":{"vector.yaml":"sources:\n  all_logs:\n    type: kubernetes_logs\n    node_annotation_fields: {}\ntransforms:\n  simple_remap:\n    type: remap\n    inputs: [\"all_logs\"]\n    source: |\n      .pod_name = .kubernetes.pod_name\n      .namespace = .kubernetes.pod_namespace\nsinks:\n  es_out:\n    type: elasticsearch\n    inputs: [\"simple_remap\"]\n    endpoints: [\"http://elasticsearch:9200\"]\n    mode: \"data_stream\"\n    data_stream:\n      type: \"logs\"\n      dataset: \"lamp\"\n      namespace: \"default\"\n"},"kind":"ConfigMap","metadata":{"annotations":{"argocd.argoproj.io/tracking-id":"logging-stack:/ConfigMap:logging/vector-config"},"name":"vector-config","namespace":"logging"}}
    name: vector-config
    namespace: logging
kind: List
metadata:
