apiVersion: v1
data:
  vector.yaml: |
    sources:
      all_logs:
        type: kubernetes_logs
    transforms:
      simple_remap:
        type: remap
        inputs: ["all_logs"]
        source: |
          .pod_name = .kubernetes.pod_name
    sinks:
      es_out:
        type: elasticsearch
        inputs: ["simple_remap"]
        endpoint: "http://10.43.42.59:9200"
kind: ConfigMap
metadata:
  annotations:
    argocd.argoproj.io/tracking-id: logging-stack:/ConfigMap:logging/vector-config
    kubectl.kubernetes.io/last-applied-configuration: |
  name: vector-config
  namespace: logging
