---
- name: Skontroluj, ci je Flux CLI nainstalovane
  command: flux --version
  register: flux_check
  ignore_errors: yes
  changed_when: false

- name: Nainstaluj Flux CLI, ak chyba
  shell: curl -s https://fluxcd.io/install.sh | bash
  when: flux_check.rc != 0

- name: Bootstrap Flux s novym GitHub repozitarom mon
  shell: |
    flux bootstrap github \
      --owner={{ flux_github_owner }} \
      --repository={{ flux_github_repo }} \
      --branch=main \
      --path=./clusters/my-cluster \
      --personal
  environment:
    GITHUB_TOKEN: "{{ flux_github_token }}"
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  register: bootstrap_result

- name: Caka sa na synchronizaciu Fluxu
  shell: flux get kustomizations --kubeconfig /etc/rancher/k3s/k3s.yaml
  register: flux_status
  until: "'Applied revision' in flux_status.stdout"
  retries: 10
  delay: 15
